@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.woff');
}
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-R.ttf');
}
@font-face {
    font-family: 'ubuntu light';
    src: url('../fonts/ubuntu/Ubuntu-L.ttf');
}
@font-face {
    font-family: 'ubuntu bold';
    src: url('../fonts/ubuntu/Ubuntu-B.ttf');
}
@font-face {
    font-family: 'ubuntu medium';
    src: url('../fonts/ubuntu/Ubuntu-M.ttf');
}
@font-face {
    font-family: 'raleway thin';
    src: url('../fonts/raleway/Raleway-Thin.ttf');
}
@font-face {
    font-family: 'raleway xlight';
    src: url('../fonts/raleway/Raleway-ExtraLight.ttf');
}
@font-face {
    font-family: 'raleway italic';
    src: url('../fonts/raleway/Raleway-Italic.ttf');
}
@font-face {
    font-family: 'raleway bold';
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'raleway xbold';
    src: url('../fonts/raleway/Raleway-ExtraBold.ttf');
}
@font-face {
    font-family: 'aquino';
    src: url('../fonts/aquino/aquino/Aquino-Demo.ttf');
}
@font-face {
    font-family: 'mosk';
    src: url('../fonts/Mosk Typeface/Mosk Bold 700.ttf');
}